alembic==0.8.4
Flask==1.0
Flask-Login==0.3.2
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.11.3
Mako==1.0.3
MarkupSafe==0.23
psycopg2==2.6.1
python-editor==0.5
requests==2.20.0
SQLAlchemy==1.0.12
Werkzeug==0.15.3
wheel==0.29.0
WTForms==2.1
