<html>
  <head>
    {% if title %}
    <title>{{ title }} - AnSen</title>
    {% else %}
    <title>AnSen</title>
    {% endif %}
  </head>
  <body>
    <div>AnSen: <a href="/index">Accueil</a> <a href="/an">Liste AN</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>